#img {
	margin-left: 480px;
	margin-top: 70px;
}
#input {
	margin-left: 320px;
	margin-bottom: 15px;
}
#textarea {
	margin-left: 320px;
	margin-bottom: 15px;
}
#header {
	margin-top: -10px;
	font-style: italic;
}

